* {
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
}

body {
  overflow: hidden;
}

h1,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

#map {
  position: relative; 
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#info-icon-check {
  position: absolute;
  left: 19px;
  top: 20px;
  z-index: 10000;
  cursor: pointer;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 12px;
}

.github-icon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.learn-more-link {
  font-size: 14px;
  color: #ec692f;
  text-decoration: underline;
}

#close-info-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#close-selected-layer-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

#close-selected-layer-btn:hover {
  color: #ec692f;
}

#description-info {
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 10000;
}

.chart-content {
  position: absolute;
  bottom: 60px;
  left: 19px;
}

.card-style {
  color: #ffffff;
  background-color: #090a0c;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 388px;
  line-height: 24px;
  align-self: stretch;
  z-index: 10; 
  border: 1px solid #4b3b35;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.active {
  display: none !important;
}

.control {
  position: absolute;
  bottom: 70px; 
  right: 19px; 
  display: flex;
  flex-direction: column;
  background-color: #090a0c;
  z-index: 10;
  border-radius: 10px;
  border: 1px solid #222732;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.control button {
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.Layer-control {
  position: absolute;
  bottom: 200px; 
  right: 19px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #ffffff;
  padding: 18px;
  background-color: #090a0c;
  z-index: 10; 
  border-radius: 10px;
  border: 1px solid #222732;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.sub-layer-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: 300px;
  border-bottom: 1px solid #222732;
}

.layer-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #222732;
}
.layer-checkbox{
  width: 16px;
  height: 16px;
  color: #ffffff;
  accent-color: #ec692f;
  cursor: pointer;
}

.layer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 0;
  border-radius: 4px;
}

.layer-radio {
  width: 20px;
  height: 20px;
  color: #ffffff;
  accent-color: #ec692f;
  cursor: pointer;
}

.country-label{
   background: transparent;
    border: none;
    box-shadow: none;
    font-size: 8px;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}

li {
  list-style: none;
}

.layer-list {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

#emissionChart {
  width: 100%;
  height: 300px;
}

.chart-content {
  width: 460px;
}

#zoom-in {
  border-radius: 8px 8px 0px 0px;
}

#zoom-out {
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid #222732;
}

.control button:hover {
  background-color: #1a1d25;
}

.top-content {
  padding: 18px 16px;
  border-bottom: 1px solid #222732;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.top-content h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

#region-title {
  font-size: 14px;
  font-weight: 600;
}

.intro-card {
  width: 460px;
}

.main-content {
  padding: 6px 18px;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #ffffff;
}

.main-content .description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trend-icon {
  width: 3em;
  height: 3em;
  display: inline-block;
  vertical-align: -0.25em; 
  margin-bottom: -8px;
}

.info-note p {
  line-height: 1.6;
}

.sdg-logo {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 73px;
  height: 73px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  border: 2px solid #000;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.map-label {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #000;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow:
    2px 2px 3px white,
    -2px -2px 3px white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  white-space: nowrap;
}

.info-card {
  position: absolute;
  background-color: #090a0c;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  z-index: 10;
  border: 1px solid #222732;
}

.info-icon-check {
  position: absolute;
  top: 19px;
  right: 19px;
  z-index: 10000;
}

#selected-layer-container {
  position: absolute;
  top: 14%;
  right: 19px;
  z-index: 10;
  padding: 16px;
  height: fit-content;
  color: #caced6;

  transform: translateX(120%);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  visibility: visible;
}

#selected-layer-container.active-layer {
  transform: translateX(0%);
}

.selected .description {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.6;
}

.selected .title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}

.selected {
  display: flex;
  align-items: center;
  gap: 4px;
}
.selected .color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #800026;
  display: inline-block;
  margin-right: 8px;
}


.proportional-info {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.proportional-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 67%;
  position: relative;
  padding: 10px 0;
  height: auto;
}

.prop-circle {
  width: 55%;
  aspect-ratio: 1 / 1; 
  background-color: #1a1d25;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.circle-2020 {
  align-self: flex-start;
  margin-left: -5%;
}

.circle-2021 {
  align-self: flex-end;
  margin-right: -5%;
  margin-top: -15%;
  z-index: 2;
}

.circle-2022 {
  align-self: flex-start;
  margin-left: -5%;
  margin-top: -25%;
  z-index: 3;
}


.circle-top-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.main-value {
  font-size: 22px;
  font-weight: 500;
  color: #e0e0e0;
  margin-bottom: 12px;
}


.year-badge {
  font-family: "Geist", sans-serif;
  background-color: #444e63;
  color: #ebedf0;
  padding: 3.11px 4.21px;
  border-radius: 16px;
  font-size: 12px;
  opacity: 0.9;
}

.source {
  bottom: 24px;
  right: 19px;
}

.author {
  bottom: 19px; 
  left: 19px;
}

path.leaflet-interactive:focus {
  outline: none !important;
}

.leaflet-container svg {
  outline: none !important;
}
