body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
#map {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
/* Modal Side Panel */
#chart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px; /* Width of the modal */
  height: 100vh;
  background: white;
  z-index: 9999; /* Must be higher than Leaflet */
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  transform: translateX(-100%); /* Start hidden to the right */
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1); /* Smooth slide */
}

/* Class to trigger the slide-in */
#chart-container.active {
  transform: translateX(0);
}

/* Close Button Styling */
#close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  line-height: 1;
}

#close-btn:hover {
  color: #e63946;
}

.modal-content {
  margin-top: 20px;
}

.map-label {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #000;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px white, -2px -2px 3px white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  white-space: nowrap;
}

path.leaflet-interactive:focus {
  outline: none !important;
}

.leaflet-container svg {
  outline: none !important;
}
